---
import '@/styles/global.css';
import { SITE } from '@/config';
import Header from '@/lib/components/Header.astro';
import Footer from '@/lib/components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const pageTitle = title ? `${title} | ${SITE.title}` : SITE.title;
const pageDescription = description || SITE.desc;
---

<html lang={SITE.lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <base href={SITE.base} />
  </head>
  <body class="max-w-5xl mx-auto">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
